@import '../styles/*'

* 
  box-sizing border-box

body
  background-color green
  color white
  font-family sans-serif

.App
  height: 100vh;
  display grid
  grid-template-rows 150px auto
h1
  // text-align center
h2
  margin 20px 0
p
  margin 10px 5px