.home
  max-width 600px
  padding 0 10px
  margin 0 auto

.home p {
  text-align: center;
}
.features {
  margin-top: 50px;
  text-align: left;
}
.features-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}
.check {
  margin-right: 10px;
}